.tabel__grid-chart-items {
  display: grid;
  grid-template-columns: 104px auto;
  grid-template-areas: ". tabel__chart-items";
  margin-bottom: 6px;
  height: 43px;
}

@media (max-width: 320px) {
  .tabel__grid-chart-items {
    display: none;
  }
}