.about-author__photo {
  max-width: 464px;
  max-height: 464px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1180px) {
  .about-author__photo {
    max-width: 232px;
  }
}