.card__title {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-decoration: none;
  color: #1A1B22;
  margin-top: 12px;
  margin-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}