.search__input {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 608px;
  height: 64px;
  border-radius: 50px;
  border: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #1A1B22;
  font-size: 17px;
  line-height: 64px;
  text-align: left;
  padding: 0 24px;
}

.search__input::-webkit-input-placeholder { color: #B6BCBF; font-size: 16px; }
.search__input::-moz-placeholder { color: #B6BCBF; font-size: 16px; }
.search__input:-moz-placeholder { color: #B6BCBF; font-size: 16px; }
.search__input:-ms-input-placeholder { color: #B6BCBF; font-size: 16px; }

.search__input::-webkit-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }
.search__input::-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }
.search__input:-moz-placeholder { opacity: 1; transition: opacity 0.3s ease; }
.search__input:-ms-input-placeholder { opacity: 1; transition: opacity 0.3s ease; }

.search__input:focus::-webkit-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }
.search__input:focus::-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }
.search__input:focus:-moz-placeholder { opacity: 0; transition: opacity 0.3s ease; }
.search__input:focus:-ms-input-placeholder { opacity: 0; transition: opacity 0.3s ease; }

.search__input::-webkit-search-decoration { display: none; }
.search__input::-webkit-search-cancel-button { display: none; }
.search__input::-webkit-search-results-button { display: none; }
.search__input::-webkit-search-results-decoration { display: none; }

.search__input:focus {
  outline: none;
}