.search__input {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  /*display: flex;*/
  width: 608px;
  height: 64px;
  box-sizing: border-box;
  border-radius: 50px;
  border: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 64px;
  text-align: left;
  padding: 0 24px;
}

.search__input:focus {
  outline: none;
}