.header__logo {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  margin: 0;
}

.header__logo:focus {
  outline: 1px solid rgba(47, 113, 229, .7);
  outline-offset: 1px;
  box-shadow: 0px 0px 2px 0px rgba(47, 113, 229, .7);
}