.about-author__paragraph {
  max-width: 600px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
  margin-top: 23px;
  margin-bottom: 0;
}

@media (max-width: 850px) {
  .about-author__paragraph {
    margin-top: 0;
  }
}