.card__description {
  min-height: 110px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #1A1B22;
  margin-top: 0;
  margin-bottom: 18px;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}

@media (max-width: 1024px) {
  .card__description {
    min-height: 88px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 12px;
    -webkit-line-clamp: 6;
  }
}

@media (max-width: 850px) {
  .card__description {
    -webkit-line-clamp: 4;
  }
}

@media (max-width: 850px) {
  .card__description {
    margin-bottom: 5px;
  }
}