.history__cards-list {
  max-width: 1440px;
  min-height: 300px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: auto;
  /*overflow: hidden;*/
}

@media (max-width: 768px) {
  .history__cards-list {
    min-height: 256px;
  }
  .history__cards-list::after {
    display: none;
  }
}

@media (max-width: 460px) {
  .history__cards-list {
    padding-left: 16px;
  }
}

@media (max-width: 365px) {
  .history__cards-list {
    min-height: 280px;
  }
}