.header__menu-link_active {
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 26px;
}

@media (max-width: 768px) {
  .header__menu-link_active {
    padding-bottom: 18px;
  }
}

@media (max-width: 460px) {
  .header__menu-link_active {
    padding-bottom: 14px;
  }
}