.result__cards-list {
  max-width: 1152px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  margin: auto;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 850px) {
  .result__cards-list {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media (max-width: 699px) {
  .result__cards-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .result__cards-list {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 36px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}