.tech__item {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 41px;
}

.tech__item:last-child {
  margin-right: 0;
}

@media (max-width: 560px) {
  .tech__item:nth-child(even) {
    margin-right: 0;
  }
}

@media (max-width: 354px) {
  .tech__item {
    margin-right: 32px;
  }
}
