.search__title {
  max-width: 610px;
  font-family: Roboto Slab, 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .search__title {
    max-width: 400px;
    font-size: 36px;
    line-height: 40px;
    margin-top: 40px;
    margin-bottom: 16px;
    padding-right: 53px;
  }
}

@media (max-width: 460px) {
  .search__title {
    max-width: 288px;
    margin-top: 30px;
    padding-right: 0;
  }
}