.search__title {
  max-width: 550px;
  font-family: Roboto Slab, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 32px;
}