.card__source-name {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  margin: 0;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 1024px) {
  .card__source-name {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
}

@media (max-width: 540px) {
  .card__source-name {
    padding-bottom: 20px;
  }
}