.result__title {
  font-family: Roboto Slab, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  display: inline-block;
  margin: 0;
}

@media (max-width: 768px) {
  .result__title {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (max-width: 595px) {
  .result__title {
    margin-bottom: 16px;
  }
}