.search__button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -172px;
  margin-right: auto;
  /*display: flex;*/
  /*width: 168px;*/
  height: 64px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #2F71E5;
  color: #fff;
  padding: 0 54px;
  cursor: pointer;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
}

.search__button:focus {
  outline: none;
  border-style: none;
}