.search__button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -171px;
  margin-right: auto;
  height: 64px;
  box-sizing: border-box;
  border-radius: 50px;
  color: #fff;
  padding: 0 54px;
  cursor: pointer;
  border: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
  transition: .2s linear;
}

.search__button:focus {
  outline: none;
  border-style: none;
}

@media (max-width: 768px) {
  .search__button {
    height: 56px;
    padding: 0 50px;
    margin-left: -163px;
    line-height: 0;
  }
}

@media (max-width: 460px) {
  .search__button {
    display: block;
    height: 56px;
    margin: auto;
    padding: 0 114px;
  }
}