.history__title {
  font-family: Roboto Slab, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  display: inline-block;
  margin: 0;
}

@media (max-width: 768px) {
  .history__title {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (max-width: 710px) {
  .history__title {
    max-width: 336px;
  }
}

@media (max-width: 692px) {
  .history__title {
    margin-bottom: 16px;
  }
}

@media (max-width: 320px) {
  .history__title {
    margin-bottom: 0;
  }
}