@import url(./__button/search__button.css);
@import url(./__descripton/search__descripton.css);
@import url(./__form/search__form.css);
@import url(./__input/search__input.css);
@import url(./__title/search__title.css);

.search {
  min-height: 576px;
  background-image: url(../../images/georgia-de-lotz.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;*/

}