.result__wrap-title {
  max-width: 1152px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: auto;
  padding-right: 40px;
  padding-left: 40px;
}