@import url(./__description/card__description.css);
@import url(./__image/card__image.css);
@import url(./__published-at/card__published-at.css);
@import url(./__source-name/card__source-name.css);
@import url(./__title/card__title.css);

.card {
  max-width: 400px;
  max-height: 576px;
  text-decoration: none;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  display: block;
  transition: .2s linear;
  margin: auto;
}

.card:focus {
  outline: none;
  border-style: none;
}

.card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card:active {
  background-color: #fefefe;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}