.card__published-at {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #B6BCBF;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 24px;
  padding-right: 24px;
}

@media (max-width: 1024px) {
  .card__published-at {
    margin-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}