.card__published-at {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #B6BCBF;
  margin-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
}