.search__descripton {
  max-width: 610px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 63px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .search__descripton {
    max-width: 452px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }
}

@media (max-width: 460px) {
  .search__descripton {
    max-width: 288px;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 64px;
  }
}