.history__card-date {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B6BCBF;
  margin-top: 0;
  margin-bottom: 16px;
}