.footer__social-icon-link {
  width: 24px;
  height: 24px;
  text-decoration: none;
  display: inline-block;
  margin-right: 24px;
  position: relative;
}

.footer__social-icon-link::after {
  content: '';
  position: absolute;
  top: 26px;
  left: 0;
  background-color: transparent;
  width: 24px;
  height: 1px;
  box-shadow: none;
  border-radius: 50%;
  transition: .2s linear;
}

.footer__social-icon-link:hover::after {
  box-shadow: 0 6px 6px rgba(0,0,0,1);
}