.card__image {
  height: 272px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 850px) {
  .card__image {
    height: 150px;
  }
}

@media (max-width: 540px) {
  .card__image {
    height: 196px;
  }
}