.history__card-name {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin-top: 0;
  margin-bottom: 2px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  word-wrap: break-word;
}