.clients__title {
  font-family: "Roboto Slab", "Times New Roman", Times, serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin-top: 0;
  margin-bottom: 24px;
}