@import url(./__title/clients__title.css);
@import url(./__paragraph/clients__paragraph.css);

.clients {
  max-width: 1152px;
  padding-top: 80px;
  padding-bottom: 94px;
  padding-left: 40px;
  padding-right: 40px;
  margin: auto;
}

@media (max-width: 768px) {
  .clients {
    padding-top: 30px;
    padding-bottom: 26px;
  }
}

@media (max-width: 460px) {
  .clients {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}